* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Digital-7";
    src: url("../Fonts/digital-7.monoitalic.ttf");
}

body {
    font-family:'Courier New', Courier, monospace;
    color: #ffffff;
}

.container {
    background-repeat: repeat;
    background-attachment: fixed;
}